node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
logs
*.log
pids
*.pid
*.seed
lib-cov
coverage
build
dist
.env
.env.*
.DS_Store
Thumbs.db
.idea
.vscode
*.tgz
public/images/uploads
src/**/*.test.js
src/**/*.spec.js
bin

